{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
List Main
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
List Main
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<!-- Nút thêm mới, bấm vào sẽ hiển thị form nhập thông tin Thêm mới -->
<a href="create.php" class="btn btn-primary">
    <span data-feather="plus"></span> Add New
</a>
<hr>
<table class="table table-bordered table-striped table-responsive mt-5" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Link Title</th>
            <th>Content</th>
            <th>Link Source</th>
            <th>Name Source</th>
            <th>Picture</th>
            <th>Create At</th>
            <th>Function</th>
        </tr>
    </thead>
    <tbody>
        {% for main in main %}
        <tr>
            <td>{{ main.Title }}</td>
            <td>{{ main.LinkTitle }}</td>
            <td>{{ main.Content|raw }}</td>
            <td>{{ main.LinkSource|raw }}</td>
            <td>{{ main.NameSource }}</td>
            {% if main.Picture %}
            <td>
                <img class="img-fluid img-thumbnail img" src="/assets/uploads/{{ main.Picture }}" alt="">
            </td>
            {% else %}
            <td>
                <img class="img-fluid img-thumbnail img" src="http://placekitten.com/300/250" alt="">
            </td>
            {% endif %}

            <td>{{ main.Create_at }}</td>
            <td>
                <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                <a href="edit.php?ID={{ main.ID }}" class="btn btn-warning">
                    <span data-feather="edit"></span>
                </a>

                <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `lsp_ma` -->
                <!-- <a href="delete.php?ID={{ main.ID }}" class="btn btn-danger">
                    <span data-feather="delete"></span> Xóa
                </a> -->
                <form method="POST" action="/backend/main/delete.php" class="frmDelete" data-id="{{main.ID}}">
                    <button class="btn btn-danger" type="submit"><span data-feather="delete" data-toggle="tooltip"
                            data-placement="top" title="Xóa"></span></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            {% if current_page > 1 and total_page > 1 %}
            <a class="page-link" href="index.php?page={{current_page-1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>
        <li class="page-item">
        {% for total_page in total_page-1 %}
            {% if total_page == current_page %}
                {{total_page}}
            {% else %}
                <a class="page-link" href="index.php?page={{total_page}}">{{total_page}}</a>
            {% endif %}
        {% endfor %}
        </li>
        
        <li class="page-item">
            {% if (current_page < total_page) and (total_page > 1) %}
                <a class="page-link" href="index.php?page={{current_page+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav> -->
{% endblock %}
{# End Nội dung trong block content #}
{% block customscripts %}
<script>
    $(function () {
        //class frmDelete thêm vào chỗ nút delete
        $('.frmDelete').submit(function (e) {
            //dừng các sự kiện mặc định
            e.preventDefault();
            //lấy dữ liệu từ data-id trên form của nút xóa
            var ID = $(this).data('id');
            //debugger;
            Swal.fire({
                title: 'Are you sure?'
                , text: "You won't be able to revert this!"
                , icon: 'warning'
                , showCancelButton: true
                , confirmButtonColor: '#3085d6'
                , cancelButtonColor: '#d33'
                , confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) { //nếu yes thì sử lý
                    //hàm lấy tất cả dữ liệu
                    //xóa dữ liệu dạng điều hướng
                    //var sendData = $(this).serialize();

                    //gửi yêu câu đi
                    $.ajax({
                        type: $(this).attr('method'), //loại gửi đi post,get....
                        url: $(this).attr('action'), //đường dẫn đến nới xóa dữ liệu
                        //data: sendData,
                        //gửi dữ liệu bằng tay

                        data: {
                            //id là phải cùng với para trong action destroy
                            ID: ID
                            // , _token: $(this).find('[name=_token').val()
                            // , _method: $(this).find('[name=_method').val(),

                        },
                        //dataType: 'JSON'
                        // success hay fail có hay không cũng không sao
                        success: function (data, textStatus, jqXHR) {
                            //load lại trang khi đã xóa
                            Swal.fire(
                                'Deleted!'
                                , 'Your file has been deleted.'
                                , 'success'
                            ).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = '/backend/main/index.php'

                                }
                            });
                        }
                        , error: function (jqXHR, textStatus, errorThrown) { }
                        ,
                    });

                } else {
                    Swal.fire(
                        'Cancelled!'
                        , 'Your imaginary file is safe :)'
                        , 'error'
                    );
                }
            })
            ///
        });

    });

</script>
{% endblock %}